@media (max-width: 1000px) {
  .PostLoadedArea .post-card {
    flex: 0 0 calc(33.333% - 0.75rem);
  }
}

@media (max-width: 800px) {
  .PostLoadedArea .post-card {
    flex: 0 0 calc(50% - 0.75rem);
  }
}

@media (max-width: 700px) {
  .PostLoadedArea .post-card {
    flex: 0 0 calc(100% - 0.75rem);
  }
}

@media (max-width: 580px) {
  body {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    align-items: center;

    .leftVideoSection {
      width: 90vw;

      .belowVideo {
        gap: 0rem;
        margin-left: 0rem;

        .videoContent {
          .videoTitle {
            font-size: .9rem;
          }
        }
      }
    }

    .rightVideoSection {
      width: 90vw;
    }
  }


}