@media (max-width: 1000px) {
  .PostLoadedArea .post-card {
    flex: 0 0 calc(33.333% - 0.75rem);
  }
}

@media (max-width: 800px) {
  .PostLoadedArea .post-card {
    flex: 0 0 calc(50% - 0.75rem);
  }
}

@media (max-width: 700px) {
  .PostLoadedArea .post-card {
    flex: 0 0 calc(100% - 0.75rem);
  }
}

@media (max-width: 580px) {
  nav {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    -webkit-align-content: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    align-items: flex-start;

    height: 6rem;

    .navRight {
      margin-left: .5rem;
      height: auto;
    }
  }

  #videosPage {
    margin-top: 6.25rem;
  }

  .pageFiltertab {
    top: 6rem;
    left: 0rem;
    padding-top: .25rem;
    border-bottom-left-radius: 0;
    border-left: none;
  }
}